/* start navbar */
nav{
	width: fit-content;
	/* animation: fade 0.8s 1 ease-in-out 0.0s; */
	z-index: 1000;
	overflow-y: hidden;
	height: 100vh;
}
nav ul li{
	width: fit-content;
}
nav ul li:hover{
	overflow: visible;
}
nav ul li a{
	position: relative;
}
nav ul li a .iconbox{
	width: 50px;
	height: 50px;
	background-color: rgb(42 48 50);
	box-shadow: 0px 0px 3px #837e7ea3;
}
nav ul li.active a .iconbox{
	background-color: var(--primary-color) !important;
}
nav ul li:hover a .iconbox{
	background-color: var(--primary-color) !important;
}

nav ul li a .iconbox i{
	z-index: 1;
	font-size: 18px;
}

nav ul li a .text{
	color: transparent;
	transform-origin: right;
	transition: color 0.1s, transform 0.3s;
	position: absolute;
	right: 0;
	height: 50px;
	padding-right: 50px;
	visibility: hidden !important;
}
nav ul li:hover a .text{
	transform: scaleX(1.1);
	background-color: var(--primary-color) !important;
	color: white;
	visibility: visible !important;
	box-shadow: 0px 0px 3px #837e7ea3;
}
@media (min-width: 768px){
	.navbar ul.navbar-nav{
		visibility: visible !important;
		opacity: 1 !important;
		margin-top: auto;
		margin-bottom: auto;
		transform: none;
	}
}
/* end navbar */

/* start navbar bar switch button */
nav .outer-box{
	width: 55px;
    height: 90px;
	position: relative;
	margin-bottom: 30px;
	order: 2;
}
@media (min-width: 768px){
	nav .outer-box{
		display: none !important;
	}
}
#switch{
    z-index: 5;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.switchbox{
	position: absolute;
	inset: 0;
}

  .pillshap{
	width: 100%;
	height: 85px;
	border-radius: 94px;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	background-color: orange;
	transition: height 0.6s 0.5s, padding 0.2s 0.3s;
	transform-origin: top;
	overflow: hidden;
	box-shadow: 0px -28px 0px #383636fa inset, 0px 0px 0px 2px #5c5c5c;
  }
  #switch:checked + .switchbox .pillshap{
	height: calc(50vh + (264px / 2));
  } 

  .outer-box svg{
	position:absolute;
    bottom: 0px;
	width: 100%;
	height: 85px;
	transition: 0.3s;
	border-radius: 94px;
  }
  #switch:checked ~ .switchbox .pillshap svg{
	transform: translateY(-30px);
  }

  .outer-box svg circle{
	fill: white;
  }
  .outer-box svg :is(circle,g){
	transform-origin: center;
	transform-box: fill-box;
	transition: transform 0.5s;
  }
  #switch:not(:checked) + .switchbox .pillshap svg :is(circle,g){
	transform: rotateZ(0deg);
  }
  #switch:checked + .switchbox .pillshap svg :is(circle,g){
	transform: rotateZ(180deg);
  }
  
  .outer-box ~ ul{
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s,visibility 0.5s,transform 0.5s;
	transform: translateY(90px);
  }
  .outer-box.checked ~ ul{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s 0.9s,visibility 0.5s,transform 0.5s 0.9s;
  }
/* end navbar bar switch button */

/* start main header style */
header > div > span{
	font-size: clamp(40px,14vw,100px);
	font-size: clamp(30px,15vw,85px);
	letter-spacing: clamp(5px,1vw,20px);
	color:#282727;
}

header > div h1{
	font-size: clamp(20px,7vw,50px);
	transform: translateY(-50%);
	margin-bottom: 0px;
	margin-top: 5px;
}
header > div h1 span{
	color: var(--primary-color);
}
/* end main header style */

/* start main button style */
.btn-box{
	display: inline-block;
	width: fit-content;
	height: fit-content;
}
button{
	background-color: transparent;
	background-color: var(--primary-color);
	outline: none;
	border: none;
	font-size: 16px;
	width: 210px;
	position: relative;	
	transition: box-shadow 0.6s 0s ;
}

button:hover{
	box-shadow: 0px 0px 8px rgb(252 169 16), 0px 0px 12px rgb(252 169 16), 0px 0px 29px 0px rgb(252 169 16);
}

button span{
	transition: margin 0.3s;
}
button:hover span{
	margin-left: -20px;
}

button i{
	transition: 0.3s ease-in-out;
	position: absolute;
	z-index: -1;
	right: 40px;
	opacity: 0;
}
button:hover i{
	opacity: 1;
	right: 25px;
	z-index: 1;
}

button i.download{
	position: absolute;
	top: 4px;
}
/* end main button style */

/* start loading element style */
#loading-box{
	--loading-dur : 1s;
	background-color: #1c1717;
	visibility: hidden;
	z-index: 1001;
	display: none !important;
}
#loading-box.active{
	display: flex !important;
	visibility: visible;
	animation: play var(--loading-dur) 1 alternate forwards;
}
@keyframes play{
	99%{
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
#svg circle {
	stroke-dashoffset: 0;
	stroke:rgb(252, 169, 16);
	stroke-width: 10px;
	stroke-linecap: round;
	fill:rgb(252, 169, 16);
}
#svg circle.loading{
	animation : loadingcircle var(--loading-dur) 1 linear forwards;
}
  @keyframes loadingcircle {
	40%,45% {
		r: 90;
		fill:rgb(252, 169, 16);
	}
	46% {
		r: 90;
		fill: transparent;
		stroke-dashoffset: 0;
		stroke-dasharray: 0;
	}
	100% {
		r: 90;
		fill: transparent;
		stroke-dashoffset: 70;
		stroke-dasharray: 800;
	}
  }
/* end loading element style */
